@media only screen and (min-width:60em) {

.weather-table {
    grid-row: 1/2
}

.main-header {
    grid-column: 1/3;
    grid-row: 1;
    z-index: 1;
    justify-self: left;
    font-size: 5rem;
    
}

h2.sub-header {
    grid-column: 1/3;
    grid-row: 1;
    z-index: 1;
    justify-self: left;
    align-self: flex-end;
    font-size: 2.5rem;
    
    
}

picture {
    grid-row: 1/7;
}

div.action-button {
    grid-row: 5/6;
}





section.fleet-flex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}

article.fleet-card{
    display: block;
    grid-row: 2;
    align-items: center;
    width: 80%;
}

.fleet-flex h3 {
    grid-row: 1;
    grid-column: 2/3;
}

article.fleet-card img {
    width: 100%;
}


/*--------------DISCOVER FLEET SECCTION----------*/

.discover-data {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

 
.discover-img {
    width: 50%;
    margin: 0 auto;
    display: block;
    
}

.weather-table caption {
    color: var(--black);
    font-weight: bolder;
}

.weather-table {
    margin-top: 10px;
}

 /*---------------------RENTAL PAGE-----------*/
 

.rental-header {
    font-size: 5rem;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
}
.contain-header {
    display: grid;
    grid-template-columns: 1fr;
}

img.banner-rental {
    width: 80%;
    grid-column: 1;
    grid-row: 1;
    overflow: hidden;
    margin-bottom: 1rem;
}
/*----------------TABLE PRICE RENTAL----------*/
.table-price {
    width: 100%;
    margin: 0 auto;
}

.table-details, .table-details tr, .table-details td, .table-details th {
     width: 80%;  
    font-size: 0.8rem;
    padding: 0.5rem;

}
.table-price h3 {
    width: 80%;
    font-size: 1.5rem;
}
.cards {
    grid-template-columns: repeat(3,1fr);
}

/*--------------FORM PAGE-----------*/
/*--------------RESERVATION MAIN SECCION---------*/

.main-rental{
    width: 80%;
    margin: 0 auto;
}
.reservation-header {
    font-size: 5rem;
}

.form-flex {
    flex-direction: column;
}

/*---------------------THANKS PAGE------------*/

.box-thanks {
    width: 60%;
}
/*------------------CONTACT US----------*/

.main-contact {
    width: 80%;
    margin: 0 auto;
}

}




 


