@media only screen and (min-width:32.5em){


/*----Logo and Header----*/

.logo-flex {
    flex-direction: row;
    align-items: center;
}

header div p {
    display: block;
}
.moto-text {
    display: block;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 5px;
    text-align: center;
}

 

/*----Navigation Bar------*/

.navbar ul {
    display: flex;
    /* margin:0; */
    border-bottom: 1px solid white;
    padding: 0;
}

.navbar ul li {
    display: block;
    flex: 1 1 auto;
    font-size: 2rem;
}

.navbar ul li a {
    text-align: center;
}

.navbar li:first-child {
    display: none;
}

#current {
    color: var(--tomato);
}
/*---------------MAIN SECTION and TABLE---------------------*/
main h1 {
    font-size: 4rem;
}


.grid-main {
 grid-template-columns: 1fr 1fr 1fr;
 /* grid-template-rows: ; */
}
.main-header {
    grid-column: 2/3;
    margin-bottom: 0px;
}
main .sub-header {
    grid-column: 2/3;
    margin-bottom: 5px;
    margin-top: 5px;
   text-align: center;
   font-size: 1.5rem;  
    
}

picture {
    grid-column: 1/4;
    grid-row: 3/6;
}

.weather-table {
   grid-column: 3/4;
   grid-row: 4/5;
   z-index: 1; 
}

div.action-button {
    grid-column: 2/3;
    grid-row: 5/6;
    z-index: 1;
}
caption {
    color: white;
}
/*---------------FLEET SECTION------------------*/
.fleet-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article.fleet-card {
   width: 100%;
   margin: 25px auto;
   display: flex;
   flex-direction: row;
   background-color: #9b9e62; 
}

article.fleet-card:nth-child(odd){
    flex-direction: row-reverse;
}

article.fleet-card img {
    width: 60%;
}

/*--------------DISCOVER FLEET SECCTION----------*/
.discover-data picture img {
    width: 100%;
    margin: 0 auto;
    
}

 



/*--------------TABLE WEATHER 5 DAYS---------*/
 h2.sub-header {
     display: block;
 }
/*-------------------FOOTER--------------*/

div.footer-container {
    display: grid;
   grid-template-columns: 1fr 1fr;
   cursor:pointer ;
    padding: 1rem; 
}

.logo-footer {
    margin: 0;
}

.footer-grid {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}
 
.footer-form {
    grid-row: 1;
    grid-column: 3/ 4;
    border: none;
}
fieldset {
    margin-top: 2rem;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 2rem;
     
}


}