/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100&display=swap');
:root {
    --black: #0a0a0a;
    --gray: #292929;
    --darkred: #5e0808;
    --red:#9f0000;
    --tomato: #dd1515;
}

/* div .footer-content,div .footer-addrees,div .footer-form {
    width: 100%;
    margin: 0 auto;
} */
/*
font-family: 'Edu SA Beginner', cursive;
font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
*/
body { 
    font-family: 'Roboto Serif', serif;
     width: 100%;
     margin: 0 auto;
     /* background-color: #e5e5f7; */
/* opacity: 0.8; */
    background-image: radial-gradient(#9f0000 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}
 
.main-div {
    width: 100%;
    /* height: 300px; */
    margin: 0 auto;
    background-color: antiquewhite;
}

header{
    background-color: var(--red);
}
/*--------------Logo and Header----------------*/

.logo-flex {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid white;
}

header div p {
    color: white;
    text-align: center;
}

.moto-text {
    display: none;
}

p.logo-title {
    margin: 0.5rem;
}
.logo-flex a img {
    width: 100%;
    margin: 0 auto;
}

/*----------------Navigation Bar--------------------*/

.navbar ul {
    padding: 0;
    background-color: var(--gray);
}
ul {
    margin: 0;
}
.navbar  li:first-child {
    display: block;
}

.navbar ul li {
    display: none;
}

.navbar ul li a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

#current {
    color:#dd1515;
    font-weight:900 ;
    
}
.navbar ul li a:hover {
    /* border-bottom: 3px solid white; */
    text-decoration: underline;
}

.responsive ul li {
    display: block;
    background-color: black;
    border-bottom: 2px solid var(--gray);
}

.responsive ul li.ham2{
    display: none;
}
.responsive ul li a.ham::before {
    content: "âŒ";
    

}

.icon-color {
    color:white;
    background-color: red;
}

/*---------------MAIN SECTION and TABLE---------------------*/
.grid-main {
     display: grid;
     grid-template-columns: 1fr;
     /* grid-template-rows: repeat(3,1fr); */
}

picture {
   grid-column: 1;
   grid-row: 2/3;  
   overflow: hidden;
}   
div.action-button {
    grid-column: 1;
    grid-row: 2/3;
    z-index: 1;
    align-self: end;
    justify-self: center;
    margin-bottom: 10px;

   
}
main  {
    width: 100%;
    margin: 0 auto;
}
main h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    text-shadow: 2px 2px 1px #0a0a0a;
    margin: 0.5rem;
    color: var(--darkred);
}
main .sub-header {
    display: none;
    font-family: 'Merriweather', serif;
    font-size: 2rem;

}

.weather-table {
    margin: 0 auto;
    border-collapse:collapse ;
    width: 95%;
    background-color: #5e0808;
   
}
.weather-table tr th {
    text-align: left;
    padding: 0.5rem;
    
    
}
.weather-table tr {
    text-align: right;
    color: white;
    border-radius: 5px;
}
span.weathercurrent, td {
    padding-right: 8px;
}

.weather-table tr:nth-child(odd){
    background-color: var(--gray);
}
caption {
    /* border-bottom: 1px solid black; */
    font-family: 'Edu SA Beginner', cursive;
    font-size: 1.5rem;
}

picture img {
    width: 100%;
}

 

.rent-button {
    font-size: 1.3rem;
    font-weight: bolder;
    color: var(--black);
    font-family: 'Merriweather', serif;
    border: 3px solid var(--tomato);
    border-radius: 5px;
    padding: 1rem;
    background-color: transparent;
}
.rent-button:hover {
    background-color: var(--darkred);
    color: white;
    cursor: pointer;
} 

/*--------------TABLE WEATHER 5 DAYS---------*/

 
.sub-header-table {
    text-align: center;
    font-family: 'Playfair Display', serif;
}
.week-weather, h2.sub-header{
     
    width: 100%; 
    /* display: none; */
}
.week-weather, .t-head {
    border: thin solid var(--darkred);
    border-collapse: collapse;
    padding: 5px;
    margin-bottom: 10px;
  
}

.t-head {
    background-color: var(--darkred);
    color: white;
}
.t-desc {
    background-color: #9fb3d4 ;
	font-size: 0.8rem;
    margin-top: 100px;
	text-align: center;
}
td > img {
    max-width: 70px;
    margin:  0;
    padding: 0; 
}
.iconText {
    font-size: 1.3rem;
    color: var(--black);
    font-weight: bolder;
}

/*---------------FLEET SECTION------------------*/

section h3 {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
    
    /* text-shadow: 2px 2px 0 #0a0a0a; */
    margin: 0.5rem;
    color: var(--darkred);
}
 
article.fleet-card{
    width: 70%;
    margin: 20px auto;
    /* border: 1px solid #ddd; */
    /* padding: 1rem; */
    box-shadow: 0 0 20px #333;
    border-radius: 10px;

}

article.fleet-card img {
    width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;

}

article.fleet-card div {
    text-align: center;
    background-color: #9b9e62;
    border-radius: 0 0 10px 10px;

}
article.fleet-card div h4 {
    font-style: italic; 
    margin-top: 0px ;
    padding-top: 1rem;
    font-size: 1.2rem;
}
article.fleet-card div p {
    margin: 0;
    padding-bottom: 5px;
}

div.fleet-text {
    padding: 2rem;
}

/*--------------DISCOVER FLEET SECCTION----------*/

.discover-data {
    /* border: 1px solid red; */
    width: 90%;
    margin: 0 auto; 
    background-color: white;
}

.discover-data picture img {
    width: 100%;
}

.discover-text {
    margin: 10px;
}

/*---------------FOOTER----------------------------*/
footer {
    background-color: #292929;
    color: white;
    
}

.logo-footer {
    width:70%;
    margin: 0 auto;
}

div.footer-container {
    background-color: var(--red);
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}    

.social-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

i.fa {
    color: white;
    transition: transform .2s;  
  
}

i.fa-facebook:hover,.fa-pinterest:hover,.fa-twitter:hover, .fa-youtube:hover, .fa-circle-thin:hover {
    color: var(--gray);
    transform: scale(1.5);
}

/*-----------------FOOTER FLEX --------*/
.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.footer-form {
    grid-row: 2;
    grid-column: 1/ 3;
}

form.form-home {
    display: grid;
    /* grid-column: 1fr; */
    justify-content: center;
    justify-items: center;
   
}

/*-----------------FOOTER SITE MAP-----------*/
 .footer-sitemap {
     margin-left: 10px;
 }

 .footer-sitemap ul {
     list-style: none;
     padding: 0;
     
 }
.site-links li a, .contact-list dd a, .dire{
    color: #999;
    text-decoration: none;
    
}

.site-links li {
    margin-top: 5px;
}

.site-links li a:hover, .contact-list dd a:hover {
    color: #999; 
    border-bottom: 1px dotted var(--tomato);

}

div h5, legend {
    font-size: 1.5rem;
    margin-bottom: 5px;
    text-decoration: underline var(--tomato);
    text-underline-offset: 5px;
    
}
fieldset {
    margin-top: 2rem;
    border: none;
    padding: 2rem;
     
}

/*---------FOOTER ADDRESS-------*/

.contact-list dd {
    margin-left: 0;
}
 
/*-------------FORM FOOTER---------------*/
.footer-form {
    border-top: 1px solid #999;
    margin-top: 5px;
}

fieldset {
    margin-top: 1rem;
    text-align: center;
}
.form-footer, .submitbutton {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    /* color: #d1d2d2; */
    color: var(--red);
    border-radius: 5px; 
    padding: 0.7em 1em;
    
}

form label.form-group {
    display: block;
    padding-top: 0.5rem;
}
::placeholder {
    color: #999
}

.submitbutton {
    background-color: var(--tomato);
    color: white;
    width: 100%;
    margin-top: 1rem;
}
 
/*--------------------Footer Footer--------*/

div.legal {
    background-color: #141414;
    padding: 1.5rem;
    margin-top: 1rem;
}

.legal-right{
    text-align: center;
}

.legal {
    border-top: 2px solid var(--red);
}