/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100&display=swap');
:root {
    --black: #0a0a0a;
    --gray: #292929;
    --darkred: #5e0808;
    --red:#9f0000;
    --tomato: #dd1515;
}

/* div .footer-content,div .footer-addrees,div .footer-form {
    width: 100%;
    margin: 0 auto;
} */
/*
font-family: 'Edu SA Beginner', cursive;
font-family: 'Merriweather', serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Serif', serif;
*/
body { 
    font-family: 'Roboto Serif', serif;
     width: 100%;
     margin: 0 auto;
     /* background-color: #e5e5f7; */
/* opacity: 0.8; */
    background-image: radial-gradient(#9f0000 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}
 
.main-div {
    width: 100%;
    /* height: 300px; */
    margin: 0 auto;
    background-color: antiquewhite;
}

header{
    background-color: var(--red);
}
/*--------------Logo and Header----------------*/

.logo-flex {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid white;
}

header div p {
    color: white;
    text-align: center;
}

.moto-text {
    display: none;
}

p.logo-title {
    margin: 0.5rem;
}
.logo-flex a img {
    width: 100%;
    margin: 0 auto;
}

/*----------------Navigation Bar--------------------*/

.navbar ul {
    padding: 0;
    background-color: var(--gray);
}
ul {
    margin: 0;
}
.navbar  li:first-child {
    display: block;
}

.navbar ul li {
    display: none;
}

.navbar ul li a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: white;
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

#current {
    color:#dd1515;
    font-weight:900 ;
    
}
.navbar ul li a:hover {
    /* border-bottom: 3px solid white; */
    text-decoration: underline;
}

.responsive ul li {
    display: block;
    background-color: black;
    border-bottom: 2px solid var(--gray);
}

.responsive ul li.ham2{
    display: none;
}
.responsive ul li a.ham::before {
    content: "âŒ";
    

}

.icon-color {
    color:white;
    background-color: red;
}

/*---------------MAIN SECTION and TABLE---------------------*/
.grid-main {
     display: grid;
     grid-template-columns: 1fr;
     /* grid-template-rows: repeat(3,1fr); */
}

picture {
   grid-column: 1;
   grid-row: 2/3;  
   overflow: hidden;
}   
div.action-button {
    grid-column: 1;
    grid-row: 2/3;
    z-index: 1;
    align-self: end;
    justify-self: center;
    margin-bottom: 10px;

   
}
main  {
    width: 100%;
    margin: 0 auto;
}
main h1 {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    text-shadow: 2px 2px 1px #0a0a0a;
    margin: 0.5rem;
    color: var(--darkred);
}
main .sub-header {
    display: none;
    font-family: 'Merriweather', serif;
    font-size: 2rem;

}

.weather-table {
    margin: 0 auto;
    border-collapse:collapse ;
    width: 95%;
    background-color: #5e0808;
   
}
.weather-table tr th {
    text-align: left;
    padding: 0.5rem;
    
    
}
.weather-table tr {
    text-align: right;
    color: white;
    border-radius: 5px;
}
span.weathercurrent, td {
    padding-right: 8px;
}

.weather-table tr:nth-child(odd){
    background-color: var(--gray);
}
caption {
    /* border-bottom: 1px solid black; */
    font-family: 'Edu SA Beginner', cursive;
    font-size: 1.5rem;
}

picture img {
    width: 100%;
}

 

.rent-button {
    font-size: 1.3rem;
    font-weight: bolder;
    color: var(--black);
    font-family: 'Merriweather', serif;
    border: 3px solid var(--tomato);
    border-radius: 5px;
    padding: 1rem;
    background-color: transparent;
}
.rent-button:hover {
    background-color: var(--darkred);
    color: white;
    cursor: pointer;
} 

/*--------------TABLE WEATHER 5 DAYS---------*/

 
.sub-header-table {
    text-align: center;
    font-family: 'Playfair Display', serif;
}
.week-weather, h2.sub-header{
     
    width: 100%; 
    /* display: none; */
}
.week-weather, .t-head {
    border: thin solid var(--darkred);
    border-collapse: collapse;
    padding: 5px;
    margin-bottom: 10px;
  
}

.t-head {
    background-color: var(--darkred);
    color: white;
}
.t-desc {
    background-color: #9fb3d4 ;
	font-size: 0.8rem;
    margin-top: 100px;
	text-align: center;
}
td > img {
    max-width: 70px;
    margin:  0;
    padding: 0; 
}
.iconText {
    font-size: 1.3rem;
    color: var(--black);
    font-weight: bolder;
}

/*---------------FLEET SECTION------------------*/

section h3 {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Merriweather', serif;
    
    /* text-shadow: 2px 2px 0 #0a0a0a; */
    margin: 0.5rem;
    color: var(--darkred);
}
 
article.fleet-card{
    width: 70%;
    margin: 20px auto;
    /* border: 1px solid #ddd; */
    /* padding: 1rem; */
    box-shadow: 0 0 20px #333;
    border-radius: 10px;

}

article.fleet-card img {
    width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;

}

article.fleet-card div {
    text-align: center;
    background-color: #9b9e62;
    border-radius: 0 0 10px 10px;

}
article.fleet-card div h4 {
    font-style: italic; 
    margin-top: 0px ;
    padding-top: 1rem;
    font-size: 1.2rem;
}
article.fleet-card div p {
    margin: 0;
    padding-bottom: 5px;
}

div.fleet-text {
    padding: 2rem;
}

/*--------------DISCOVER FLEET SECCTION----------*/

.discover-data {
    /* border: 1px solid red; */
    width: 90%;
    margin: 0 auto; 
    background-color: white;
}

.discover-data picture img {
    width: 100%;
}

.discover-text {
    margin: 10px;
}

/*---------------FOOTER----------------------------*/
footer {
    background-color: #292929;
    color: white;
    
}

.logo-footer {
    width:70%;
    margin: 0 auto;
}

div.footer-container {
    background-color: var(--red);
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}    

.social-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

i.fa {
    color: white;
    transition: transform .2s;  
  
}

i.fa-facebook:hover,.fa-pinterest:hover,.fa-twitter:hover, .fa-youtube:hover, .fa-circle-thin:hover {
    color: var(--gray);
    transform: scale(1.5);
}

/*-----------------FOOTER FLEX --------*/
.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.footer-form {
    grid-row: 2;
    grid-column: 1/ 3;
}

form.form-home {
    display: grid;
    /* grid-column: 1fr; */
    justify-content: center;
    justify-items: center;
   
}

/*-----------------FOOTER SITE MAP-----------*/
 .footer-sitemap {
     margin-left: 10px;
 }

 .footer-sitemap ul {
     list-style: none;
     padding: 0;
     
 }
.site-links li a, .contact-list dd a, .dire{
    color: #999;
    text-decoration: none;
    
}

.site-links li {
    margin-top: 5px;
}

.site-links li a:hover, .contact-list dd a:hover {
    color: #999; 
    border-bottom: 1px dotted var(--tomato);

}

div h5, legend {
    font-size: 1.5rem;
    margin-bottom: 5px;
    text-decoration: underline var(--tomato);
    text-underline-offset: 5px;
    
}
/* fieldset {
    margin-top: 2rem;
    border: none;
    padding: 2rem;
     
} */

/*---------FOOTER ADDRESS-------*/

.contact-list dd {
    margin-left: 0;
}
 
/*-------------FORM FOOTER---------------*/
.footer-form {
    border-top: 1px solid #999;
    margin-top: 5px;
}

 .form-field {
    margin-top: 1rem;
    text-align: center;
}
.form-footer, .submitbutton {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    /* color: #d1d2d2; */
    color: var(--red);
    border-radius: 5px; 
    padding: 0.7em 1em;
    
}

form label.form-group {
    display: block;
    padding-top: 0.5rem;
}
::placeholder {
    color: #999
}

.submitbutton {
    background-color: var(--tomato);
    color: white;
    width: 100%;
    margin-top: 1rem;
}
 
/*--------------------Footer Footer--------*/

div.legal {
    background-color: #141414;
    padding: 1.5rem;
    margin-top: 1rem;
}

.legal-right{
    text-align: center;
}

.legal {
    border-top: 2px solid var(--red);
}

/*-----------------RENTAL MAIN--------*/
.rental-header { font-size: 3rem;}

img.banner-rental {
    width: 100%;
    margin: 0 auto;
}

/*----------------TABLE PRICE RENTAL----------*/
section.table-price {
    /* width: 100%; */
    /* margin: 0 auto; */
    overflow-x: auto;
}
.table-details, .table-details tr, .table-details td, .table-details th {
  border: 1px solid black; 
  border-collapse: collapse; 
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 0.2rem;
  color:white;
  background-color: var(--gray);
  font-size: 0.6rem;

} 

.table-price h3{
    background-color: var(--gray);
    margin: 0 auto;
    /* padding: 0.5rem; */
    padding: .5rem 0;
    font-size: 1rem;
    color: var(--tomato);
    width: 90%;
}

/*-------------------RENTALS CARDS------------------*/
section .cards-container {
    width: 100%;
    margin: 0 auto;
}
.cards {
    
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    border: 1px solid #ddd;
    padding: 1rem;
    box-shadow: 0 0 20px #333;
    color:white;
}

.cards img { 
    display: block;
    width: 60%;
    margin: 1rem auto;
    box-shadow: 0 0 10px 5px #333;
    border-radius: 5px;}
div.cards h2 {
    text-align: center;
}

div.cards section {
    border: 2px solid var(--red);
    background-color: var(--gray);
    text-align: center;
    padding: 0 2% 0 2%;
}


/*--------------FORM PAGE------------*/
 
.form-container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
     
}
.form-data  fieldset{
    background-color: white;
}

.agreement {
    border: 1px solid var(--darkred);
    border-radius: 5px;
    background-color: var(--gray);

}
.agreement h3 {
    color: var(--tomato);
    margin-top: 15px ;
}
.agreement h4 {
    text-align: center;
    color: var(--tomato);
    margin-top: 0;
    
}

.rental-lists {
    list-style:upper-roman;
     
    width: 80%;
    margin: 0 auto;
}
.rental-lists li {
    /* margin-top: 1%;
    margin-bottom: 2%; */
    margin: 15px;
    text-align: justify;
    color: white;
}

.form-data fieldset legend {
    color: var(--tomato);
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0.1rem;
    padding: 0.5rem;
}

form label.form-top, form div {
    display: block;
    padding-top: 1rem;
    font-size: 1rem;
}

form label.form-top input, form label.form-top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    /* width: 100%; */
    max-width: 20rem;
    background-color: rgba(0,0, 0, 0.1);
}

form label.type-rental {
    display: block;
    /* padding: 0.75rem 0; */
    color: var(--black);
     
}

 .form-top {
    font-weight: bolder;
}
form label.type-rental input {
    margin: 0.60rem;

}

form input.submitBtn {
    border: 3px solid var(--tomato);
    background-color: var(--tomato);
    color: white;
    border-radius: 1rem;
    padding: 0.75rem  1.5rem;
    /* margin: 0 0 2rem 2%; */
    width: 96%;
    max-width: 20rem;
    display: block;
    margin: 2% auto;
    

}

form input.submitBtn:hover {
    border: 3px solid var(--black);
    color: var(--black);
    font-weight: bolder;
}
form label.form-top input:required {
    border-left: red solid 6px;
}

form label.form-top input:required:valid {
    border-left: green solid 6px;
}

#comments {
    width: 100%;
    border: 1px solid var(--tomato);
}


/*---------------------THANKS PAGE------------*/

.thanks {
    border: 1px solid var(--black);
    width:100% ;
    margin: 10px auto;
    text-align: center;
}

.header-box { color:var(--red)}
.box-thanks {
    border: 1px solid var(--black);
    background-color: var(--gray);
    border-radius: 5px;
    color: white;
    width: 90%;
    margin: 10px auto;
    padding: 1rem;
    border-bottom: 10px solid var(--darkred) ;
}


/*------------------CONTACT US----------*/
 .contact-addrees {
     width: 90%;
     margin: 0 auto;
     text-align: center;
     border: 1px solid black;
     background-color: #999;
     
 }
 .contactus-list dd{
     margin-left: 0;
 }
 .contactus-list dd a{
     color: white;
     text-decoration: none;
 }

 .contactus-list dt {
     color: var(--darkred);
     font-weight: bolder;
 }
 .color {
     color: white;
 }

 .form-contactus {
     width: 90%;
     margin: 0 auto;
     
 }

 .contactus-group {
     display: block;
     margin-top: 1rem;
 }
 .contactus-group input {
     width: 100%;
 }
 
 .contact-input {
     width: 95%;
     background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: var(--red);
    border-radius: 5px;
    padding: 10px; 
   
 }

 .form-contactus fieldset {
     background-color: #999;
     margin: 0 auto;
 }

 .maps {
     width: 80%;
     margin: 0 auto;
     border: 3px solid var(--darkred);
 }
 iframe {
     width: 100%;
}

/*---------------------TOUR PAGE--------*/

.main-tour {
    width: 100%;

     margin: 15px auto;  
}

.tour-grid {
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: 1fr;
     
    
}

.card-tour {
    width: 70%;
    margin: 10px auto;
    border: 1px solid var(--gray);
    /* box-shadow: 10px 50px 10px 10px rgba(255, 255, 255, 0.1); */
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}

.card-tour img {
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px;
}

.card-text {
    margin: 0 auto;
    width: 80%;
    padding: 30px;
}

.tour-color {
    font-weight: bolder;
}