@media only screen and (min-width: 60em) {

    .main-content {
        background-color: #999;
    }
    footer {
        margin: 0 auto;
        width: 100%;
        margin-top: 0;
    }

    main {
        width: 80%;
    }
    section {
        margin: 30px;
    }

    .week-weather { width: 60%; margin: 0 auto;}
    .contact-info {
        width: 100%;
        margin: 0 auto;
        border: 1px solid #ddd;
        background-color: #eee;
    }

    header {
         justify-content: flex-start; 
         align-items: center;
          
    }
    .logos {
        width: 150px;
        ;
     
    }
    .logos img {
        width:100% ;
        
        

    }
    .heading h1{
        align-items: center;
        
    }
}